.row
  .large-12.columns
    %h2= "#{Event.count} Events"

    %table.large-12.columns.responsive
      %thead
        %tr
          - %w(date event_type details user).each do |th|
            %th= th

        %tbody
          - @events.each do |event|
            %tr
              %td= l event.created_at
              %td= event.eventable_type
              %td= event.details
              %td= event.user.nickname

