- badge = f.object

%fieldset
  %legend New Badge

  .row
    .large-6.columns
      = f.input :photo
    .large-6.columns
      = image_tag badge.photo.thumb.url, size: '100x100'
  .row
    .large-6.columns
      = f.input :name
    .large-6.columns
      = f.input :badge_type
  .row
    .large-6.columns
      = f.input :description
    .large-6.columns
      = f.input :condition
  .row
    .large-6.columns
      = f.input :quantity
    .large-6.columns
      = f.input :published, wrapper: 'foundation'

  = f.button :submit
