= "Ma board : #{@user.email}"

%br
%br
Mes bieres
%ul
  - @user.beers.each do |beer|
    %li= "#{beer.name} #{beer.beer_type.name}"

%br
Mes badges
%ul
  - @user.badges.each do |badge|
    %li= badge.name

