= link_to 'New', new_admin_beer_path

%h2= 'Suggestions'
- if @suggestions.any?
  %table
    %tr
      - %w(name beer_color country suggested_at added_by actions).each do |th|
        %th= th

    - @suggestions.each do |beer|
      %tr
        %td= beer.name
        %td= beer.beer_color_name
        %td= beer.country
        %td= beer.created_at
        %td= beer.added_by.nickname
        %td
          = link_to 'Accept', accept_admin_beer_path(beer), method: :put
          = link_to 'Edit', edit_admin_beer_path(beer)
          = link_to 'Delete', admin_beer_path(beer), method: :delete, confirm: 'Are you sure?'
- else
  = "No suggestions"



%h2= 'All beers'
- if @beers.any?
  %table
    %tr
      - %w(name beer_color country created_at added_by actions).each do |th|
        %th= th

    - @beers.each do |beer|
      %tr
        %td= beer.name
        %td= beer.beer_color_name
        %td= beer.country
        %td= beer.created_at
        %td= beer.added_by.nickname
        %td
          = link_to 'Reject', reject_admin_beer_path(beer), method: :put
          = link_to 'Edit', edit_admin_beer_path(beer)
          = link_to 'Delete', admin_beer_path(beer), method: :delete, confirm: 'Are you sure?'
- else
  = "No beers"

%h2= 'Rejected beers'
- if @rejected.any?
  %table
    %tr
      - %w(name beer_color country created_at added_by actions).each do |th|
        %th= th

    - @rejected.each do |beer|
      %tr
        %td= beer.name
        %td= beer.beer_color_name
        %td= beer.country
        %td= beer.created_at
        %td= beer.added_by.nickname
        %td
          = link_to 'Re accept', accept_admin_beer_path(beer), method: :put
          = link_to 'Edit', edit_admin_beer_path(beer)
          = link_to 'Delete', admin_beer_path(beer), method: :delete, confirm: 'Are you sure?'
- else
  = "No beers"
