!!!
%html
  %head
    %title BeechApp
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "admin"
    = csrf_meta_tags
  %body
    %nav
      = link_to 'Beers', admin_beers_path
      = link_to 'Badges', admin_badges_path
      = link_to 'Users', admin_users_path
      = link_to 'Events', admin_events_path

    = yield
